# /api/.htaccess
RewriteEngine On
RewriteRule ^artifacts$      get_artifacts.php  [L,QSA]
RewriteRule ^artifacts/(\d+)$ get_artifact.php?id=$1 [L,QSA]
RewriteRule ^persons/(\d+)$   get_person.php?id=$1   [L,QSA]
RewriteRule ^locations/(\d+)$ get_location.php?id=$1 [L,QSA]
RewriteRule ^artifacts/([a-z0-9\-]+)$  get_artifact_by_slug.php?slug=$1  [L,QSA]